<!--
<h2>{{ hero.name | uppercase }} Details</h2>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
-->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes; let itemIndex = index">
    <button [class.selected]="(itemIndex == 0 && !selectedHero) || hero === selectedHero" type="button"
            (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>


<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div>

<!--An idiot's way to solve a problem, that can be solved by a simple contructor initialization :)-->
<!--<div *ngIf="selectedHero; else notSelected">-->
<!--  <h2>{{ selectedHero.name | uppercase }} Details</h2>-->
<!--  <div>id: {{ selectedHero.id }}</div>-->
<!--  <div>-->
<!--    <label for="hero-name">Hero name: </label>-->
<!--    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">-->
<!--  </div>-->
<!--</div>-->
<!--<ng-template #notSelected>-->
<!--  {{ heroes && heroes.length > 0 ? onSelect(heroes[0]) : '' }}-->
<!--</ng-template>-->
